@{
	ViewBag.Title = "Home";
}

<h2>@ViewBag.Title</h2>

<ul>
	<li>@Html.ActionLink( "Simple type", "SimpleType" )</li>
	<li>@Html.ActionLink( "List of Complex types", "ComplexType" )</li>
</ul>
